body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;

}
#main{
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.card{
    height: 410px;
    width: 300px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    justify-content: space-between;
    /* z-index: 2; */
    background-color: white;
    box-shadow: 1px 1px 15px #d1d1d1;

}

.card-text{
    padding: 5px 20px 20px 20px;
    height: 140px

}
.info-btn{
    border: none;
    height: 56px;
    width: 100%;
    background-color: rgb(0, 124, 0);
    color: white;
    font-size: 18px;
    border-radius: 0px 0px 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: 1;
    opacity: 0; */
}

/* .card:hover .info-btn{
    opacity: 1;
    transition: 0.2s ease-in-out;
} */
.info-btn:hover{
    background-color: darkgreen;
    transition: 0.2s ease-in-out;
}
.info-btn .fa-angle-right{
    padding-left: 10px;
    font-size: 24px;
}
img{
    border-radius: 5px 5px 0 0;
}
h1{
    font-size: 24px;
    color: #022c43;
    margin: 5px 0px 5px 0px;
}
h2{
    font-size: 18px;
    color: #022c43;
    margin: 5px 0px 5px 0px;

}
h3{
    font-size: 16px;
    color: #022c43;
    margin: 5px 0px 5px 0px;

}
header{
    height: 70px;
    padding: 0px 24px 0px 24px;
}
.header-container{
    width: 100%;
    height: 70px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header-container img{
    height: 80px;

}
.header-container .fa-ticket-alt{
    font-size: 32px;
    color: #115173;
    transform: rotate(20deg); 
}
.header-container h1{
    font-weight: bold;
    color: #115173;
    padding-left: 12px; 
}
ul{
    display: flex;
    flex-direction: row;
}
li{
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 20px;
    color: #115173;
}
li:hover{
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 20px;
    color: #022c43;
}
a{
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: flex-start;
    color: #fff;

}
footer{
    color: #fff;
    text-decoration: none;
    font-family: Helvetica, Sans-Serif;
    background-color: #115173;
    bottom: 0;
    position: relative;
}

.footer-container{
    width: 100%;
    display: flex;
    display: flex;
    height: 328px;
    align-items: center;
}
.footer-social-media{
    width: 100%;
    background-color: white;
    padding: 40px 0 40px 0;
    margin: 0 auto;

}
.footer-social-media-icons{
    margin: 0 auto;
    width: 20%;
    display: flex;
    justify-content: space-between;
}
.footer-info-container{
    display: flex;
    width: 80%;
    height: 60%;
    margin: 0 auto;
    display: flex;
}
.footer-contact{
    width: 50%;
}
.footer-contact-wrapper{
    display: flex;

}
.footer-phone{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80px;
    padding-right: 110px;
}
.footer-email{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80px;
}
.footer-other-container{
    display: flex;

}
.footer-other{    
    padding: 0 0 0 140px;

}
.footer-other-links-wrapper{
    display: flex;
    flex-direction: row;
    
}
.footer-other-links{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 80px;
    padding-right: 110px;

}
.footer-other-links2{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 80px;
}
.footer-other h2, .footer-contact h2{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 70px;
    color: #fff;
}
.bold{
    font-weight: bold;
}
footer p{
    font-size: 16px;
    color: #fff;
}